/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24/11/2015, 10:55:55
    Author     : 31377467
*/
.botao{
   width: 110px;
  border: 1px solid white;
  line-height: 35px;
  border-radius: 5px;
  height: 39px;
  color: white;
  font-size: 18px;
  margin-top: 20px;
  margin-left: 600px;
  cursor: pointer;
  background: transparent; 
}
.footer3{
  font-size:8px;
  color:#fff;
  clear:both;
  display:block;
  letter-spacing:5px;
  border:1px solid #fff;
  padding:5px;
  text-decoration:none;
  width:190px;
  margin: 0 auto;
  margin-top:0 auto;
}